:root {
  --color-text: rgb(34, 34, 34);
}

#apply {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#apply h1, #apply p {
  margin: 0;
}

a {
  color: rgb(212, 49, 20);
  text-decoration: none;
}

body {
  margin: 0;
}

body, button {
  font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
}

button {
  background-color: rgb(212, 49, 20);
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 100;
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0 10px;
}

header img {
  height: auto;
  width: 150px;
}

header img, nav {
  display: flex;
}

header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

header ul a {
  color: var(--color-text);
}

main {
  margin: 50px auto;
  max-width: 1080px;
}

nav ul {
  gap: 20px;
}

p {
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.5;
}

footer {
  padding: 20px;
  background-color: var(--color-text);
  color: rgb(233, 233, 233);
}